/.venv
/**/db.sqlite3
/**/__pycache__/
/**/.pytest_cache/
/**/cov_html/
/**/cov.xml
/**/.coverage
/**/coverage.json
/.env
megalinter-reports/
perms.txt
/**/*.bak
/site/
/.mypy_cache/
/.ruff_cache/
/**/.hypothesis/
